extends partials/layout.pug

block content
  if errors.column
    h1 #{errors.column} field. Please try again.
  .heading
    h1 Order
  .order-form
    form(method="POST")
      .form-group(class={ 'has-error': errors.column === 'name'})
        label.control-lable(for='name') Name
        input.form-control#name(
          type='text'
          name='name'
          placeholder='Jane Doe'
          value=body.name
          required
        )


      .form-group(class={ 'has-error': errors.column === 'phone'})
        label.control-label(for='phone') Phone Number
        input.form-control#phone(
          type='tel'
          name='phone'
          placeholder='555-555-1234'
          value=body.phone
          required
        )

        .form-group(class= {'has-error': errors.column === 'email'})
          label.controle-label(for='email') Email
          input.form-control#email(
            type='email'
            name='email'
            placeholder='you@example.com'
            required
          )

      .form-group(class={'has-error': errors.column === 'size'})
        label.control-label(for='size') Size
        select.form-control#size(name='size' required)
          option(disabled selected) Select a size:
          each size in sizes
            option(
                value=size.inches
                selected=(+body.size === +size.inches)
                ) #{size.name}: #{size.inches}

      #toppings(class={ 'has-error': errors.column === 'toppings' })
        h5 Toppings
        each topping in toppings
          label= topping.name
            input(
            type='checkbox'
            name='toppings'
            value=topping.name
            selected=(body.toppings && body.toppings.includes(topping.name))
            )
        if errors.toppings
          span.help-block= errors.toppings.message
      .order-form__submit
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-success.btn-lg(type='submit' value='Order it!')
